{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block styles %}
{{ super() }}
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Restaurants{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>


	 <table class="table table-dark table-striped table-hover">
          <!-- This is where you will write the code to render a Bootstrap 
          Table that contains all the information from the 
          cafe-data.csv file. -->
      <table class="table">


        <tbody>
           {% for item  in cafes  %}
            <tr>
                 {% for d  in item  %}
                    {% if d[0:4]=='http' %}
                        <td><a href="{{d}}">MAP LINK</a></td>

                    {% else %}
                        <td>{{ d }}</td>
                    {% endif %}
                 {% endfor %}
            </tr>
           {% endfor %}
        </tbody>
      </table>
  	</table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
